<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Project File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AgentCubes_document.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.agentsheets.AgentCubes.project</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Agent File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AgentCubes_document.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.agentsheets.AgentCubes.agent</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Shape File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AgentCubes_document.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.agentsheets.AgentCubes.shape</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>World File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AgentCubes_document.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.agentsheets.AgentCubes.world</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Simulation Properties File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AgentCubes_document.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.agentsheets.AgentCubes.sip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>VAT File</string>
			<key>CFBundleTypeIconFile</key>
			<string>AgentCubes_document.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.agentsheets.AgentCubes.vat</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>AgentCubes</string>
	<key>CFBundleGetInfoString</key>
	<string>AgentCubes version 2.0b1, Copyright 2009-2014 AgentSheets Inc.&quot;</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Help</string>
	<key>CFBundleHelpBookName</key>
	<string>OpenMCL Help</string>
	<key>CFBundleIconFile</key>
	<string>AgentCubes_app_icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.agentsheets.agentcubes</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AgentCubes</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0b1</string>
	<key>CFBundleSignature</key>
	<string>ASAC</string>
	<key>CFBundleVersion</key>
	<string>2.0b1</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2009-2014 AgentSheets Inc.</string>
	<key>NSMainNibFile</key>
	<string>MainMenuApp</string>
	<key>NSPrincipalClass</key>
	<string>LispApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.agentsheets.AgentCubes.project</string>
			<key>UTTypeDescription</key>
			<string>AgentCubes Project File</string>
			<key>UTTypeIconFile</key>
			<string>AgentCubes_document.icns</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>project</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.agentsheets.AgentCubes.agent</string>
			<key>UTTypeDescription</key>
			<string>AgentCubes Agent Index File</string>
			<key>UTTypeIconFile</key>
			<string>AgentCubes_document.icns</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>agent</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.agentsheets.AgentCubes.shape</string>
			<key>UTTypeDescription</key>
			<string>AgentCubes Shape Index File</string>
			<key>UTTypeIconFile</key>
			<string>AgentCubes_document.icns</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>shape</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.agentsheets.AgentCubes.world</string>
			<key>UTTypeDescription</key>
			<string>AgentCubes World File</string>
			<key>UTTypeIconFile</key>
			<string>AgentCubes_document.icns</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>world</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.agentsheets.AgentCubes.sip</string>
			<key>UTTypeDescription</key>
			<string>AgentCubes Simulation Properties File</string>
			<key>UTTypeIconFile</key>
			<string>AgentCubes_document.icns</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>sip</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.agentsheets.AgentCubes.vat</string>
			<key>UTTypeDescription</key>
			<string>AgentCubes Behavior File</string>
			<key>UTTypeIconFile</key>
			<string>AgentCubes_document.icns</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>vat</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
